In [1]:
# Let's first import the libraries
import sqlite3
import pandas as pd

In [2]:
# Now, let's connect to the SQLite database
conn = sqlite3.connect("ml-power.db")

In [3]:
# And create a cursor object
cursor = conn.cursor()

In [4]:
# Now let's execute SQL query to fetch table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# And, fetch table names
tables = cursor.fetchall()

# And, finally print the table names
for table in tables:
    print(table[0])

elec
edrp_geography_data
edrp_metadata
lad_2011_uk_nc

In [5]:
# Let's query the first few rows of the 'elec' table
cursor.execute("SELECT * FROM elec LIMIT 5;")
rows = cursor.fetchall()
print(rows)

[('ANON_ID', 'ADVANCEDATETIME', 'HH', 'ELECKWH'), ('5110', '15FEB08:12:30:00', '25', '0.6'), ('11617', '15FEB08:12:30:00', '25', '0.25'), ('4869', '15FEB08:12:30:00', '25', '0.3'), ('9015', '15FEB08:12:30:00', '25', '0.4')]

In [6]:
# And, also query the schema of the 'elec' table
cursor.execute("PRAGMA table_info(elec);")
schema = cursor.fetchall()
print(schema)

[(0, 'ANON_ID', 'TEXT', 0, None, 0), (1, 'ADVANCEDATETIME', 'TEXT', 0, None, 0), (2, 'HH', 'TEXT', 0, None, 0), (3, 'ELECKWH', 'TEXT', 0, None, 0)]

In [7]:
# View table contents
cursor.execute("SELECT * FROM elec LIMIT 5;")
sample_rows = cursor.fetchall()
print("Sample rows from the 'elec' table:")
for row in sample_rows:
    print(row)

# Check data types
cursor.execute("PRAGMA table_info(elec);")
table_info = cursor.fetchall()
print("\nData types of columns in the 'elec' table:")
for info in table_info:
    print(info)

# View table head
cursor.execute("SELECT * FROM elec LIMIT 5;")
table_head = cursor.fetchall()
print("\nFirst few rows of the 'elec' table:")
for row in table_head:
    print(row)

Sample rows from the 'elec' table:
('ANON_ID', 'ADVANCEDATETIME', 'HH', 'ELECKWH')
('5110', '15FEB08:12:30:00', '25', '0.6')
('11617', '15FEB08:12:30:00', '25', '0.25')
('4869', '15FEB08:12:30:00', '25', '0.3')
('9015', '15FEB08:12:30:00', '25', '0.4')

Data types of columns in the 'elec' table:
(0, 'ANON_ID', 'TEXT', 0, None, 0)
(1, 'ADVANCEDATETIME', 'TEXT', 0, None, 0)
(2, 'HH', 'TEXT', 0, None, 0)
(3, 'ELECKWH', 'TEXT', 0, None, 0)

First few rows of the 'elec' table:
('ANON_ID', 'ADVANCEDATETIME', 'HH', 'ELECKWH')
('5110', '15FEB08:12:30:00', '25', '0.6')
('11617', '15FEB08:12:30:00', '25', '0.25')
('4869', '15FEB08:12:30:00', '25', '0.3')
('9015', '15FEB08:12:30:00', '25', '0.4')

In [8]:
# Basic statistics for numeric columns
cursor.execute("SELECT AVG(ELECKWH), MIN(ELECKWH), MAX(ELECKWH) FROM elec;")
stats = cursor.fetchall()
print("\nBasic statistics for the 'ELECKWH' column:")
print("Average:", stats[0][0])
print("Minimum:", stats[0][1])
print("Maximum:", stats[0][2])

Basic statistics for the 'ELECKWH' column:
Average: 0.25339232054234995
Minimum: 0.001
Maximum: ELECKWH

In [8]:
# Read CSV and Excel files into pandas DataFrames
df1 = pd.read_excel("edrp_geography_data.xlsx")
df2 = pd.read_excel("edrp_metadata.xlsx")
df3 = pd.read_csv("lad_2011_uk_nc.csv")

# Insert data into new tables in the SQLite database
df1.to_sql("edrp_geography_data", conn, if_exists="replace", index=False)
df2.to_sql("edrp_metadata", conn, if_exists="replace", index=False)
df3.to_sql("lad_2011_uk_nc", conn, if_exists="replace", index=False)

# Commit changes
conn.commit()

In [9]:
# Now let's execute SQL query to fetch table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# And, fetch table names
tables = cursor.fetchall()

# And, finally print the table names
for table in tables:
    print(table[0])

elec
edrp_geography_data
edrp_metadata
lad_2011_uk_nc